<mat-card>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput type="text" [(ngModel)]="enteredTitle">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Post Content</mat-label>
    <textarea matInput rows="6" [(ngModel)]="enteredContent"></textarea>
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="onAddPost()">Save Post</button>
</mat-card>
<!-- Another option is two - way binding, which combines the setting and reading of a value [()] -->
<!-- ngModel, an Angular directive, an instruction you place on an HTML element so angular knows WTD  -->
<!-- Local refrence add a variable to any element you want #postInput -->
<!-- Can be used here to pass data to onAddPost -->
<!-- Event binding is an angular feature which lets us listen to events in a declarative way () -->
<!-- String Interpolation, Property Binding, Event Binding, Two-Way Data Binding. -->
<!-- String interpolation can refer to a property or method {{}} -->
<!-- Property binding will target the property of the underlying object [] -->
<!-- We will use a combination of string interpolation for simple text usually between opening and closing tags -->
<!-- & Property binding always used directly on an element for outputting data in our template -->
